.ppt
{
    background-color: #333;
    color:white;
    margin:none;
    padding:20px;
    text-align: center;
}
.selected
{
    border: 5px dotted white;
    padding:10px;
}
.notSelected
{
    border:none;
}


.piedra
{
    background-image: url('../../../assets/imagenes/piedra.png');
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 240px;
    width: 240px;
}

.papel
{
    background-image: url('../../../assets/imagenes/papel.png');
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 240px;
    width: 240px;
}

.tijera
{
    background-image: url('../../../assets/imagenes/tijeras.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 50px;
    height: 240px;
    width: 240px;
}

.game
{
    margin-top: 50px;
}

.show
{
    display: block;
}
.hide
{
    display:none;
}

h1
{
    transition: display 1s;
    text-transform: uppercase;
    margin-top: 50px;
    
}