<div class="fastFingers" style="height:100%;">
    <h1>Dedos rápidos</h1>
    <h2>Descubre cuantas palabras puedes escribir en un minuto</h2>
    <div class="mb-3">
        <select name="nivel" id="lvlSelect">
            <option value="1">Nivel 1</option>
            <option value="2">Nivel 2</option>
            <option value="3">Nivel 3</option>
            <option value="4">Nivel 4</option>
            <option value="5">Nivel 5</option>
        </select>
    </div>
    <button *ngIf="!isGameRunning" (click)="startGame()" class="button">Empezar</button>

    <div *ngIf="isGameRunning" class="row">
        <div class="col">
            <h3 class="nextWord">
                {{ nextWord }}
            </h3>
            <h2 class="currentWord">
                {{ currentWord }}
            </h2>
        </div>
    </div>
    <br>
    <textarea rows="1" #myInput *ngIf="isGameRunning" [ngClass]="wordsDontMatch ? 'unmatch' : 'match'"
        [(ngModel)]="stringWritten" (ngModelChange)="checkAccuracy($event)">
</textarea>
    <div *ngIf="isGameRunning" class="row">
        Tiempo restante:
        <span [ngClass]="timeLeft <= 15 ? 'redText' : (timeLeft <= 30 ? 'yellowText' : 'whiteText')">
            {{ timeLeft }}
        </span>
        <br>
        Puntaje: {{ score }}
    </div>
    <div *ngIf="isGameFinished">
        <h1>Felicitaciones, tu puntaje es: {{ score }} </h1>
    </div>
</div>