<div class="tateti">
    <h1>Ta Te Ti</h1>
        <div *ngIf="!gameStarted">
        <button class="btn btn-success" (click)="init()">
            <h1>Empezar</h1>
        </button>
    </div>
    <div *ngIf="gameStarted" class="center text-center">
        <div class="clearfix">
            <my-cell *ngFor="let cell of cells | slice: 0: 3; let i = index" [value]="cell" (userClick)=clickHandler(i)>
            </my-cell><br>
        </div>

        <div class="clearfix">
            <my-cell *ngFor="let cell of cells | slice: 3: 6; let i = index" [value]="cell"
                (userClick)=clickHandler(i+3)>
            </my-cell><br>
        </div>
        <div class="clearfix">
            <my-cell *ngFor="let cell of cells | slice: 6; let i = index" [value]="cell" (userClick)=clickHandler(i+6)>
            </my-cell><br>
        </div>
    </div>
        <div *ngIf="winner">
            <h3  *ngIf="winner != 'empate'">Ganador: {{winner}}</h3>
            <h3  *ngIf="winner == 'empate'">Empate</h3>
            <br>
            <button class="btn btn-warning" (click)="init()"><h3>Nueva partida</h3></button>
        </div>
</div>