.adivina
{
    background-color: #333;
    color:white;
    margin:none;
    padding:20px;
    text-align: center;
    font-size: 2em;
}
h1
{
    font-size: 1.5em;
}

.bgbtn
{
    font-size: 1.3em;
}

input
{
    color: black;
}