<app-cabecera> </app-cabecera>
<div class="container" *ngIf="isLoggedIn">

  <div class="row text-center mb-5 p5">
    <h2>Menú Principal</h2>
  </div>

  <div class="row text-center">

    <div class="col-4 col-md-4 card">
      <a routerLink="/Juegos">
        <img src="./assets/imagenes/saladejuegos.png" class="imagenDeMenu">
        <h4>Juegos</h4>
        <p>
          El juego  busca que los alumnos se apropien
          de los temas impartidos por los docentes utilizando el juego.</p>
      </a>
    </div>

    <div class="col-4 col-md-4 card">
      <a routerLink="/Listado">
        <img src="./assets/imagenes/listado.jpg" class=" imagenDeMenu">
        <h4>Listados de resultados</h4>
        <p>Los listados de los resultados con ordenamiento y busqueda</p>
      </a>
    </div>



    <div class="col-4 col-md-4 card">
      <a routerLink="/Jugadores">
        <img src="./assets/imagenes/jugadores.png" class=" imagenDeMenu">
        <h4>Jugadores</h4>
        <p>Listado de jugadores</p>
      </a>
    </div>

  </div>

</div>
<div class="container" *ngIf="!isLoggedIn">
  <app-registro></app-registro>
</div>