.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    text-align: center;
}

img {
    border-radius: 5px 5px 0 0;
}/* Add some padding inside the card container */


.button{
    display: inline-block;
    padding: 5px 15px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: #222222;
    border-radius: 15px;
    box-shadow: 0 3px #999;
    border: none;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.5em;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .imagen
  {
    height:400px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .cerebro
  {
    background-image: url('../../../assets/imagenes/cerebro.jpg');
  }
  .ppt
  {
    background-image: url('../../../assets/imagenes/ppt.jpg');
  }
  .anagrama
  {
    background-image: url('../../../assets/imagenes/anagrama.jpg');
  }
  .tateti
  {
    background-image: url('../../../assets/imagenes/tateti.png');
  }
  .adivina
  {
    background-image: url('../../../assets/imagenes/adivina.png');
  }
  .fastfingers
  {
    background-image: url('../../../assets/imagenes/fastfingers.jpg');
  }

  .description
  {
    font-size: 1.2em;
  }

  .descriptionTitle
  {
    font-size: 1.3em;
  }
  h1
  {
    text-align: center;
    border-bottom: 3px solid black;
  }

  .game
  {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 5px;
  }