<div class="container">
  <div class="row text-center">

    <div class="col-3 col-md-3 p-5">

      <div class="row">
        <div class="imagen cerebro">

        </div>
      </div>

      <div class="row">
        <h4>Velocidad y agilidad aritmética </h4>
        <p class="title">Juego de agilidad mental</p>
        <p>UTN FRA </p>
        <p> <button class="button" (click)="Juego('Agilidad')">Jugar</button></p>
      </div>

    </div>


    <div class="col-3 col-md-3">

      <div class="row">
        <div class="imagen ppt">
        </div>
      </div>

      <div class="row">
        <h4>Piedra Papel o Tijera</h4>
        <p class="title">Juega contra la máquina</p>
        <p>UTN FRA </p>
        <p> <button class="button" (click)="Juego('PPT')">Jugar</button></p>
      </div>

    </div>


    <div class="col-3 col-md-3">

      <div class="row">
        <div class="imagen adivina">
          
        </div>
      </div>

      <div class="row margin">
        <h4 >Adivina el número secreto</h4>
        <p class="title">Juega de estrategia</p>
        <p>UTN FRA </p>
        <p> <button class="button" (click)="Juego('Adivina')">Jugar</button></p>
      </div>

    </div>

    <div class="col-3 col-md-3">

      <div class="row">
        <div class="imagen fastfingers">
          
        </div>
      </div>

      <div class="row margin">
        <h4>Dedos rápidos</h4>
        <p class="title">Compite midiendo tu velocidad de tipeo</p>
        <p>UTN FRA </p>
        <p> <button class="button" (click)="Juego('FastFingers')">Jugar</button></p>
      </div>

    </div>
  </div>
</div>