<body>
  <div *ngIf="!wantsToLogIn" id="" class="">
    <form class="" [formGroup]="registerForm">
      <div class="container">
        <label><b>Email</b></label>
        <input type="text" placeholder="Ingresa tu correo" formControlName="email">
  
        <label><b>Contraseña</b></label>
        <input type="password" placeholder="Contraseña" formControlName="password">
  
        <div class="clearfix">
          <p *ngIf="message" class="errorMessage">{{message}}</p>
          <button type="button" [routerLink]="['/']" class="cancelbtn">Cancelar</button>
          <button class="signupbtn" (click)="Register()">Registrarme</button>
        </div>
        <div class="col-12">
          <button class="wantToLogIn" (click)="WantsToLogIn()">Ya tengo cuenta</button>
        </div>
      </div>
    </form>
  </div>

  <div id="" class="" *ngIf="wantsToLogIn">
    <form class="" [formGroup]="loginForm">
      <div class="container">
        <label><b>Email</b></label>
        <input type="text" placeholder="Ingresa tu correo" formControlName="emailLogin">
  
        <label><b>Contraseña</b></label>
        <input type="password" placeholder="Contraseña" formControlName="passwordLogin">
  
        <div class="clearfix">
          <p *ngIf="message" class="errorMessage">{{message}}</p>
          <button type="button" [routerLink]="['/']" class="cancelbtn">Cancelar</button>
          <button class="signupbtn" (click)="LogIn()">Iniciar sesion</button>
        </div>
        <div class="col-12">
          <button class="wantToLogIn" (click)="WantsToRegister()">Registrarme</button>
        </div>
      </div>
    </form>
  </div>
  </body>