<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<div style="text-align:center">
  <h3>
    {{nuevoJuego.nombre}}!
  </h3>
</div>
<div class="container">
<form name="juego">
  <h4><u>Ingrese un número</u></h4>
  <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text"
    class="form-control" />
  <h2>{{nuevoJuego.numeroIngresado}} </h2>

  <h2 [hidden]="ocultarVerificar">
    <button *ngIf="nuevoJuego.numeroSecreto!=0" (click)="verificar()" class="btn btn-success btn-lg">Verificar</button>
  </h2>

  <h2>
    <button *ngIf="nuevoJuego.numeroSecreto==0 " (click)="generarnumero()" class="btn btn-info btn-lg col-8 col-md-8">Nuevo número
      secreto</button>
  </h2>

  <h2>
    <p *ngIf="nuevoJuego.numeroSecreto!=0">
      <img src="../../../assets/imagenes/spinner.gif"/>
      <br>
      Esperando que ingrese un número
    </p>
  </h2>

  <h3 [hidden]="!nuevoJuego.gano">Usted ha adivinado el número</h3>
  <h3 [hidden]="nuevoJuego.gano">Usted aún no ha ganado</h3>

</form>
</div>
<div id="snackbar">{{Mensajes}}</div>